[ng-cloak],
.ng-cloak,
.ng-hide{
	display:none !important;
}

[ng-click]{
	cursor: pointer;
}

h1,h2,h3,h4,h5{
	color: #33536d;
}
hgroup h3{
	margin-top: 0;
}

footer {
	margin-top: 50px;
	padding-bottom: 50px;
}
hr{
	border-top: 1px solid #a0afbb;
}
#bottom p{
	padding-top: 10px;
	font-size: 16px;
	color: #748796;
	line-height: 1.875em;
	font-weight: 300;
}
iframe{border:0;}



html,
body,
#outer-frame,
#page-content {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	position: relative;
	font-family: 'Open Sans', 'lucida grande', 'Segoe UI', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;
}

body {
	padding-top: 50px;
}

#top {
	position: relative;
	height: 100%;
	min-height: 650px;
	margin: 0 auto;
	width: 882px;
	padding: 0 54px;
	background: url(../img/sprite.jpg) no-repeat 10% 45%;
}
#bottom {
	position: relative;
	margin: 0 auto;
	width: 882px;
	padding: 0 54px;
	height: 100%;
	min-height: 1650px;
}
#learn-more {
	position: absolute;
	bottom: 50px;
	left: 0;
	width: 100%;
	text-align: center;
	cursor: pointer;
}

#learn-more a{
	text-decoration: none;
	font-size: 14px;
	color: #91a8ba;
}

#learn-more .caret{
	border-top-color: #91a8ba;
}

#start{
	margin-top: -50px;
	text-align: center;
	position: absolute;
	top: 45%;
	right: 23px;
	width: 456px;
	z-index: 7;
}

.feture{
	margin-bottom: 150px;
}

.feture img{
	max-width: 100%;
}

.feture .image{
	text-align: center;
	display: box;
}


.flex-center-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-center {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}


.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.flex-item:nth-child(1) {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.flex-item:nth-child(2) {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

/*
    Legacy Firefox implementation treats all flex containers
    as inline-block elements.
*/

@-moz-document url-prefix() {
.flex-container {
    width: 100%;
    -moz-box-sizing: border-box;
    }

}

#workspace {
	position: relative;
}

#app {
	min-width: 940px;
	height: 100%;
}

#sidebar {
	background: #fff;
	width: 350px;
	-webkit-box-shadow: 0 0 3px rgba(185,199,212,.62);
	box-shadow: 0 0 3px rgba(185,199,212,.62);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

#styles {
	overflow-y: scroll;
	border-bottom: #f5f5f5 solid 1px;
	padding: 15px;
	-webkit-box-flex: 1;
	-webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

#ad {
	background: #fafafa;
	border-top: #eaebef solid 1px;
	padding: 16px;
	font-size: 12px;
	    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

#ad footer{
	padding:0;
	margin: 0;
}
.canvas-container{
	background: #fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAABlBMVEX///8AAABVwtN+AAAAAnRSTlMzMz0oyR4AAAARSURBVAgdY/jPwIAVYRf9DwB+vw/xbMOy9QAAAABJRU5ErkJggg==");
}

#excanvas{
	font-size: 0;
	position: relative;
}

#excanvas #scale{
	outline: none;
	display: block;
	position: absolute;
	bottom: -20px;
	right: -20px;
	width: 16px;
	height: 16px;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyBpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBXaW5kb3dzIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjI1NkQ5RkIzMzEzNjExRTFBRDA1RjA4RDFDQzI1NkY4IiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjI1NkQ5RkI0MzEzNjExRTFBRDA1RjA4RDFDQzI1NkY4Ij4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6MjU2RDlGQjEzMTM2MTFFMUFEMDVGMDhEMUNDMjU2RjgiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6MjU2RDlGQjIzMTM2MTFFMUFEMDVGMDhEMUNDMjU2RjgiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz6UfQO4AAABRElEQVR42mI8fPiw/YwZM7pu3LhhxkACUFNTO5WVlVXG6Orq+vzdu3cSDGQAISGhFywwzX19fc6Ghob7vnz5wsDDw4OiEF3s/PnzTkVFRXtBeplggiDNPj4+H3x9ff83NTWt+PfvHzMum0FqYWwWZFvAAiwsv2xtbRd/+/btL0zu1q1bZiA/YzMM7gKQEz08PBb09/ebTJs2beaVK1e8QWJPnjwxq6ur2wViI2MMF4BATk5OAcgl7e3tPuXl5duDg4MnLlu2rOLr16/8uLzDgk1QRUXlQlRUVMeUKVMmEIoJJmyCFy9etJ89e3Y7MVGJEYjXrl2zqa2t3f7r1y9O9KjEawAsYLS0tI7s3LmTC186IOgFUgD1DDh16pQHsZqQ1TK6ubk9efv2rTQ5tgsLCz9lKisrSwHlKlI1CwoKvgDpBQgwAPtlicsurS/4AAAAAElFTkSuQmCC');
	opacity: .2;
	cursor: nw-resize;
}

#app.hover #dropzone{
	width: 100%;
	height: 100%;
	background: rgba(30,30,30,.8);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 99999;
	text-align: center;
}
#app.hover #dropzone:after{
	content: "Drop images here";
	position: absolute;
	top: 50%;
	color: #fff;
	font-size: 40px;
	text-transform: uppercase;
	text-indent: -180px;
	margin-top: -30px;
}

#sdisplay{
	position:absolute;
	display:block;
	top:0px;
	left:0px;
	border:#000 dashed 1px;
	z-index:100;
	opacity:.7;
	background: red;
}

#sdisplay b{
	cursor: nw-resize;
	position:absolute;
	bottom:5px;
	right:5px;
	font-size:11px;
	line-height:11px;
}
#preference{
	height: 350px;
	position: relative;
	margin-bottom: 30px;
}
#preference.open,
#preference.open:focus{
	overflow: hidden;
	height: 155px;
	-webkit-transition: height .3s;
	transition: height .3s;
}
#preference,
#preference:hover{
	height: 450px;
}

#more{
	border-top: 1px solid #eee;
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top: inherit;
	background: white;
	font-size: 0;
}

#more > span{
	display: none;
}

#preference.open #more > span{
	background: #ccc;
	border: 1px solid #eee;
	border-top: none;
	display: inline-block;
	font-size: 0;
	padding: 4px 8px;
	border-radius: 0 0 8px 8px;
}
#more .caret{
	border-top-color: white;
}
#preference:hover .caret{
	border-top: 0;
	border-bottom: 4px solid #fff;
}
.noImg{
	background: none !important;
}

summary,
details {
	outline: none;
}

#thumbnail canvas {
	max-width: 100%;
}

input.form-control.ng-invalid {
	border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}






.card{
	margin-top: 30px;
}

.thumbnail .canvas-container{
  height: 253px !important;
  width: 253px !important;
  background: #fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAABlBMVEX///8AAABVwtN+AAAAAnRSTlMzMz0oyR4AAAARSURBVAgdY/jPwIAVYRf9DwB+vw/xbMOy9QAAAABJRU5ErkJggg==");
}

#mycanvas canvas,
#mycanvas .thumbnail .canvas-container{
  max-width: 100% !important;
  max-height: 100% !important;
  position: relative !important;
}
#mycanvas canvas{
  width: auto !important;
  height: auto !important;
}
#mycanvas .upper-canvas{
	display: none;
}





.donate .btn{
	padding: 8px 10px;
	margin-top: 10px;
	border-radius: 100px;
	position: relative;
	outline: 0;
}
.donate .btn:focus{
	-webkit-box-shadow: 0 0 8px rgba(82,168,236,.8);
	box-shadow: 0 0 8px rgba(82,168,236,.8);
}

.donate .custom{
	padding: 5px 10px 5px 5px;
}
.donate .custom label{
	position: absolute;
	color: black;
	top: 50%;
	line-height: 0;
	left: 15px;
	font-weight: normal;
	cursor: text;
}
.donate .custom .month{
	left: 23px;
}

.donate .custom input{
	outline: 0;
	width: 80px;
	border-radius: 100px;
	margin-right: 5px;
	text-indent: 15px;
}
.donate .custom input.love{
	width: 120px;
}

.donate input::-webkit-inner-spin-button,
.donate input::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}


#finalStep{
	width: 90%;
	margin: 0 auto;
	padding-top: 50px;
}

#finalStep .col-md-4{
	height: 200px;
}

#finalStep .input-group{
	margin-bottom: 5px;
}


#saveAs{
	position: absolute;
	margin: 12px;
	opacity: 0;
	color: #fff;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}

nav:hover #saveAs{
	opacity: 1;
}



footer {
    animation: fadein 2s cubic-bezier(.76,-0.43,.06,.67);
}

@keyframes fadein {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0px); }
}

