body {
	padding-top: 20px;
}

.footer {
	border-top: 1px solid #eee;
	margin-top: 40px;
	padding-top: 40px;
	padding-bottom: 40px;
}

/* Main marketing message and sign up button */
.jumbotron {
	text-align: center;
	background-color: transparent;
}
.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

/* Customize the nav-justified links to be fill the entire space of the .navbar */
.repeatY{height: 600px !important;}
.nav-justified {
	background-color: #eee;
	border-radius: 5px;
	border: 1px solid #ccc;
	margin-bottom: 30px;
}
.nav-justified > li > a {
	margin-bottom: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #777;
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid #d5d5d5;
	background-color: #e5e5e5; /* Old browsers */
	background-repeat: repeat-x; /* Repeat the gradient */
	background-image: -moz-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%); /* Chrome 10+,Safari 5.1+ */
	background-image: -o-linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%); /* Opera 11.10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
	background-image: linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%); /* W3C */
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
	background-color: #ddd;
	background-image: none;
	box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified > li:first-child > a {
	border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
	border-bottom: 0;
	border-radius: 0 0 5px 5px;
}


/* First level of nav */
.bs-sidenav {
	padding-top: 10px;
	padding-bottom: 10px;
	text-shadow: 0 1px 0 #fff;
		background-color: #e5e5e5; /* Old browsers */
	background-repeat: repeat-x; /* Repeat the gradient */
	background-image: -moz-linear-gradient(top, #f5f5f5 0%, #e5e5e5 200%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(200%,#e5e5e5)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#e5e5e5 200%); /* Chrome 10+,Safari 5.1+ */
	background-image: -o-linear-gradient(top, #f5f5f5 0%,#e5e5e5 200%); /* Opera 11.10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
	background-image: linear-gradient(top, #f5f5f5 0%,#e5e5e5 200%); /* W3C */
	border-radius: 5px;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
	display: block;
	color: #716b7a;
	padding: 5px 20px;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
	text-decoration: none;
	background-color: #e5e3e9;
	border-right: 1px solid #dbd8e0;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
	font-weight: bold;
	color: #563d7c;
	background-color: transparent;
	/*border-right: 1px solid #563d7c;*/
}

.bs-sidebar .nav > .active > a, .bs-sidebar .nav > .active:hover > a, .bs-sidebar .nav > .active:focus > a {
	font-weight: bold;
	color: #563d7c;
	background-color: transparent;
	/*border-right: 1px solid #563d7c;*/
}



@media (min-width: 768px) {
	.nav-justified {
		max-height: 52px;
	}
	.nav-justified > li > a {
		border-left: 1px solid #fff;
		border-right: 1px solid #d5d5d5;
	}
	.nav-justified > li:first-child > a {
		border-left: 0;
		border-radius: 5px 0 0 5px;
	}
	.nav-justified > li:last-child > a {
		border-radius: 0 5px 5px 0;
		border-right: 0;
	}
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	/* Remove the padding we set earlier */
	.masthead,
	.marketing,
	.footer {
		padding-left: 0;
		padding-right: 0;
	}
}

.linenums li{
	list-style-type: decimal;
}
pre {
	tab-size: 4;
	white-space:nowrap;
	overflow: scroll;
}
code{white-space: normal;}
[ng-click]{
	cursor: pointer;
}