<!DOCTYPE html><html itemscope itemtype="http://schema.org/Product" ng-class="Main.supports" class="no-js" lang="en" ng-app="wis" ng-controller="MainCtrl as Main"><head>

	<meta charset="utf-8">
	<meta name="description" content="Generate CSS (retina, webp) Sprites Instantly with CssSpriteGenerator.net">
	<meta name="author" content="Jimmy Wärting">
	<meta itemprop="name" content="Online font converter">
	<meta itemprop="description" content="Generate CSS (retina, webp) Sprites Instantly with CssSpriteGenerator.net">
	<meta itemprop="image" content="http://cssspritegenerator.net/<%= version %>/img/sprite.jpg">

	<title>Css Sprite Generator</title>

	<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="/<%= version %>/css/default.css" rel="stylesheet">

</head>
<body>

	<div ng-view id="outer-frame"></div>

	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-route.min.js"></script>
	<script src="/<%= version %>/js/lib/libwebp-0.2.0.min.js"></script>
	<script src="/<%= version %>/js/lib/fabric.min.js"></script>
	<script src="/<%= version %>/js/lib/jszip.js"></script>
	<script src="/<%= version %>/js/bootstrap-min.js"></script>

</body>
</html>