<div>

	<!-- ======================== Google plus -->
	<span class="google-plus">
		<!-- Place this tag in your head or just before your close body tag. -->
		<iframe width="50" height="60" title="+1" src="https://apis.google.com/_/+1/fastbutton?usegapi=1&amp;bsv=o&amp;size=tall&amp;url=http%3A%2F%2Fcssspritegenerator.net%2F&amp;gsrc=3p&amp;ic=1&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.sv.aBNuyXXU5VQ.O%2Fm%3D__features__%2Fam%3DYQ%2Frt%3Dj%2Fd%3D1%2Frs%3DAItRSTO-Pt1Ed4deswF_1l-wGI4S6MzDHw#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh%2Conload&amp;id=I0_1387309762144&amp;pfname=&amp;rpctoken=14975815" ></iframe>
	</span>

	<!-- ======================== Facebook like -->
	<span class="facebook-like">
		<iframe height="61" width="49" src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fcssspritegenerator.net&amp;width&amp;layout=box_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=65&amp;appId=424013754367090"></iframe>
	</span>

	<!-- ======================== Twitter share -->
	<span class="twitter-share">
		<iframe title="Twitter Tweet Button" width="56" height="62" src="http://platform.twitter.com/widgets/tweet_button.1384994725.html#_=1386359844522&amp;count=vertical&amp;hashtags=CssSpriteGenerator&amp;id=twitter-widget-0&amp;lang=en&amp;related=CssSpriteGenerator&amp;size=m&amp;text=Css%20Sprite%20Generator&amp;url=http%3A%2F%2Fcssspritegenerator.net&amp;via=CssSpriteGenerator"></iframe>
	</span>

	<!-- ======================== Flattr -->
	<span class="flatter">
		<iframe title="Flattr" height="62" width="55" src="http://api.flattr.com/button/view/?uid=jimmy.warting&amp;url=http%3A%2F%2Fcssspritegenerator.net"></iframe>
	</span>

</div>