<!DOCTYPE html>
<html>
<head>
	<title>CSS Sprite</title>
	<script>var Sprite = ___SPRITE___;</script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">

	<script>!function(A,e){A.className+=" js",e=new Image,e.onload=e.onerror=function(){A.className+=(e.width>0&&e.height>0?" ":" no-")+"webp"},e.src="data:image/webp;base64,UklGRkoAAABXRUJQVlA4WAoAAAAQAAAAAAAAAAAAQUxQSAwAAAARBxAR/Q9ERP8DAABWUDggGAAAABQBAJ0BKgEAAQAAAP4AAA3AAP7mtQAAAA=="}(document.documentElement)</script>
	<link href="___SPRITENAME___.css" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-route.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.6.0/ui-bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/run_prettify.min.js"></script>
	<style><%- include demo/demostyle.css %></style>
</head>
<body ng-app="wis">

	<div class="container" ng-controller="foo">

		<div class="masthead">
			<h3 class="text-muted">Sprite</h3>
			<ul class="nav nav-justified">
				<li ng-class="at('/about')"><a href="#/about">About</a></li>
				<li ng-class="at('/samples')"><a href="#/samples">Samples</a></li>
				<li ng-class="at('/installation')" onclick="setTimeout(PR.prettyPrint,0)"><a href="#/installation">Installation</a></li>
			</ul>
		</div>

		<div ng-switch="path">
			<div class="row" ng-switch-when="/about"><%- include demo/demoabout.html %></div>
			<div class="row" ng-switch-when="/samples"><%- include demo/demosample.html %></div>
			<div class="row" ng-switch-when="/installation"><%- include demo/demoinstall.html %></div>
		</div>

		<div class="footer">
			<span style="position: absolute">
				<iframe height="20" width="90"  title="+1" src="http://apis.google.com/u/0/_/+1/fastbutton?usegapi=1&amp;bsv=o&amp;size=medium&amp;origin=https%3A%2F%2Fapis.google.com&amp;url=http%3A%2F%2Fcssspritegenerator.net%2F&amp;gsrc=3p&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.sv.0EOj73Vj4qo.O%2Fm%3D__features__%2Fam%3DEQ%2Frt%3Dj%2Fd%3D1%2Frs%3DAItRSTPPB5OvFh7A2rU39xjsipckO2Gv9w#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh&amp;id=I14_1385984930861&amp;parent=https%3A%2F%2Fapis.google.com&amp;pfname=%2FI0_1385984860702&amp;rpctoken=35214345"></iframe>
				<iframe height="20" width="110" title="Like this content on Facebook." src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fcssspritegenerator.net&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21&amp;appId=424013754367090"></iframe>
				<iframe height="20" width="110" title="Twitter Tweet Button" src="http://platform.twitter.com/widgets/tweet_button.1384994725.html#_=1385985432489&amp;count=horizontal&amp;id=twitter-widget-12&amp;lang=en&amp;original_referer=https%3A%2F%2Fabout.twitter.com%2Fresources%2Fbuttons%23tweet&amp;size=m&amp;text=Css%20Sprite%20Generator&amp;url=http%3A%2F%2Fcssspritegenerator.net" class="twitter-share-button twitter-tweet-button twitter-count-horizontal"></iframe>
				<iframe height="20" width="110" title="Flattr" src="http://api.flattr.com/button/view/?uid=jimmy.warting&amp;button=compact&amp;url=http%3A%2F%2Fcssspritegenerator.net"></iframe>
			</span>
			<p class="text-right">Powered by <a href="http://cssspritegenerator.net">Css Sprite Generator</a>. Designed by <a href="http://warting.se">W&auml;rting</a></p>
		</div>
	</div>

	<script><%- include demo/init.js %></script>

	<iframe class="hidden" src="http://cssspritegenerator.net/postmsg" onload="init()" id="iframe"></iframe>
</body>
</html>
